APP_BASE_URL=https://linkra.ru

LIVEKIT_URL=ws://livekit:7880
LIVEKIT_PUBLIC_URL=wss://rtc.linkra.ru

LIVEKIT_API_KEY=linkra_key
LIVEKIT_API_SECRET=8edc959cc8517b864f73c99c86305a1d3b3fe509309e0a6e6e35172cc6695d87

CORS_ALLOW_ORIGINS=https://linkra.ru